<h3>Transports</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Added by</th>
      <th>Added at</th>
      <th>Changed by</th>
      <th>Changed at</th>
      <th>Archived by</th>
      <th>Archived at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transports.each do |transport| %>
      <tr>
        <td><%= transport.name %></td>
        <td><%= transport.description %></td>
        <td><%= transport.added_by %></td>
        <td><%= transport.added_at %></td>
        <td><%= transport.changed_by %></td>
        <td><%= transport.changed_at %></td>
        <td><%= transport.archived_by %></td>
        <td><%= transport.archived_at %></td>
        <td><%= link_to 'Show', transport %></td>
        <td><%= link_to 'Edit', edit_transport_path(transport) %></td>
        <td><%= link_to 'Destroy', transport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transport', new_transport_path %>
