<p>
  <strong>Name:</strong>
  <%= @transport.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transport.description %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @transport.added_by %>
</p>

<p>
  <strong>Added at:</strong>
  <%= @transport.added_at %>
</p>

<p>
  <strong>Changed by:</strong>
  <%= @transport.changed_by %>
</p>

<p>
  <strong>Changed at:</strong>
  <%= @transport.changed_at %>
</p>

<p>
  <strong>Archived by:</strong>
  <%= @transport.archived_by %>
</p>

<p>
  <strong>Archived at:</strong>
  <%= @transport.archived_at %>
</p>

<%= link_to 'Edit', edit_transport_path(@transport) %> |
<%= link_to 'Back', transports_path %>
