<h3>Equipment</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Added by</th>
      <th>Added at</th>
      <th>Changed by</th>
      <th>Changed at</th>
      <th>Archived by</th>
      <th>Archived at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.name %></td>
        <td><%= equipment.description %></td>
        <td><%= equipment.added_by %></td>
        <td><%= equipment.added_at %></td>
        <td><%= equipment.changed_by %></td>
        <td><%= equipment.changed_at %></td>
        <td><%= equipment.archived_by %></td>
        <td><%= equipment.archived_at %></td>
        <td><%= link_to 'Show', equipment %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment', new_equipment_path %>
