<p>
  <strong>Name:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @equipment.description %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @equipment.added_by %>
</p>

<p>
  <strong>Added at:</strong>
  <%= @equipment.added_at %>
</p>

<p>
  <strong>Changed by:</strong>
  <%= @equipment.changed_by %>
</p>

<p>
  <strong>Changed at:</strong>
  <%= @equipment.changed_at %>
</p>

<p>
  <strong>Archived by:</strong>
  <%= @equipment.archived_by %>
</p>

<p>
  <strong>Archived at:</strong>
  <%= @equipment.archived_at %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
