<%= form_with(model: course_title, local: true) do |form| %>
  <% if course_title.errors.any? %>
    <div id="error_explanation" class="text-danger">
      <!-- <h5><%= pluralize(course_title.errors.count, "error") %> prohibited this course_title from being saved:</h5> -->
      <ul class="list-group">
      <% course_title.errors.full_messages.each do |message| %>
        <li class="list-group-item"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :outline %>
    <%= form.text_area :outline, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :eligibility %>
    <%= form.text_field :eligibility, class: "form-control" %>
  </div>

  <div class="form-group form-check">
      <%= form.check_box :active, class: "form-check-input" %>
      <%= form.label :active %>
  </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-arrow-circle-right    "></i>
          Submit
        </button>
      <%= link_to 'Cancel', course_titles_url, class: "link" %>
    </div>
<% end %>