<h3 class="text-success">Course Titles</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="4">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @course_titles.each do |course_title| %>
      <tr>
        <td><%= course_title.name %></td>
        <td><%= course_title.description %></td>
        <td><%= course_title.active %></td>
        <td>
          <%= link_to course_title do%>
          <i class="fas fa-search-plus"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_course_title_path(course_title) do%>
          <i class="fas fa-edit"></i>
          <% end %>
        </td>
        <!-- <td><%= link_to 'Archive', course_title,  data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_course_title_path, class: "linky" do%>
<i class="fas fa-plus-circle"></i>
Add Course Title
<% end %>