<h3 class="text-success">
  Course Title
</h3>
<p>
  <strong>Name:</strong>
  <%= @course_title.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course_title.description %>
</p>

<p>
  <strong>Outline:</strong>
  <%= @course_title.outline %>
</p>

<p>
  <strong>Eligibility:</strong>
  <%= raw @course_title.eligibility %>
</p>

<p>
  <strong>Active:</strong>
  <%= @course_title.active %>
</p>

<%= link_to course_titles_path, class: "link" do%>
<i class="fas fa-arrow-circle-left">&nbsp;</i>Back
<% end %>
