<h3>Facilities</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Added by</th>
      <th>Added at</th>
      <th>Changed by</th>
      <th>Changed at</th>
      <th>Archived by</th>
      <th>Archived at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.name %></td>
        <td><%= facility.description %></td>
        <td><%= facility.added_by %></td>
        <td><%= facility.added_at %></td>
        <td><%= facility.changed_by %></td>
        <td><%= facility.changed_at %></td>
        <td><%= facility.archived_by %></td>
        <td><%= facility.archived_at %></td>
        <td><%= link_to 'Show', facility %></td>
        <td><%= link_to 'Edit', edit_facility_path(facility) %></td>
        <td><%= link_to 'Destroy', facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facility', new_facility_path %>
