<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @facility.description %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @facility.added_by %>
</p>

<p>
  <strong>Added at:</strong>
  <%= @facility.added_at %>
</p>

<p>
  <strong>Changed by:</strong>
  <%= @facility.changed_by %>
</p>

<p>
  <strong>Changed at:</strong>
  <%= @facility.changed_at %>
</p>

<p>
  <strong>Archived by:</strong>
  <%= @facility.archived_by %>
</p>

<p>
  <strong>Archived at:</strong>
  <%= @facility.archived_at %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
