<div class="well">
<blockquote class="blockquote">
    <p class="mb-0">
        To assist the business organization by consultancy, Sukkur IBA has started The Executive Development Center (EDC) a year ago, whose aim is to provide technical and managerial skills development training to corporate sector employees as well as public sector employees. The Executive Development Center (EDC) offers Executive programs for public sector, non–profit sector and private sector executives, organizes customized courses for the corporate clients and holds short courses/trainings on emerging issues and themes for those engaged in business.
    </p>
<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
</div> 