<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_title_id %>
    <%= form.collection_select :course_title_id, @course_titles, :id, :name, {}, class: "form-controls" %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :finish_date %>
    <%= form.date_select :finish_date %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration %>
  </div>

  <div class="field">
    <%= form.label :fees %>
    <%= form.number_field :fees %>
  </div>

  <div class="field">
    <%= form.label :days_of_week %>
    <%= form.text_field :days_of_week %>
  </div>

  <div class="field">
    <%= form.label :time_slots %>
    <%= form.text_field :time_slots %>
  </div>

  <div class="field">
    <%= form.label :fees %>
    <%= form.number_field :fees %>
  </div>


  <div class="field">
    <%= form.label :publish_at %>
    <%= form.date_select :publish_at %>
  </div>

  <div class="field">
    <%= form.label :advertised_at %>
    <%= form.date_select :advertised_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
