<h3>Courses</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Course title</th>
      <th>Start date</th>
      <th>Finish date</th>
      <th>Duration</th>
      <th>Fees</th>
      <th>Publish at</th>
      <th>Advertised at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_title.name %></td>
        <td><%= course.start_date %></td>
        <td><%= course.finish_date %></td>
        <td><%= course.duration %></td>
        <td><%= course.fees %></td>
        <td><%= course.publish_at %></td>
        <td><%= course.advertised_at %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
