<p>
  <strong>Added by:</strong>
  <%= @adder.email %>
</p>

<p>
  <strong>Course title:</strong>
  <%= @course.course_title.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @course.finish_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @course.duration %>
</p>

<p>
  <strong>Fees:</strong>
  <%= @course.fees %>
</p>

<p>
  <strong>Days of week:</strong>
  <%= @course.days_of_week %>
</p>

<p>
  <strong>Time slots:</strong>
  <%= @course.time_slots %>
</p>

<p>
  <strong>Publish at:</strong>
  <%= @course.publish_at %>
</p>

<p>
  <strong>Advertised at:</strong>
  <%= @course.advertised_at %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
