<p>
  <strong>Name:</strong>
  <%= @certificate.name %>
</p>

<p>
  <strong>Duration in years:</strong>
  <%= @certificate.duration_in_years %>
</p>

<%= link_to 'Edit', edit_certificate_path(@certificate) %> |
<%= link_to 'Back', certificates_path %>
