body{
	padding:70px 10 0 10;
}
.footer{
	margin: 40px 0 0 0;
	padding: 20px 10px 10px 20px;
	color: yellowgreen;
	background-color: #545555;
	.copyright{
		border-top: solid 1px rgb(182, 181, 181);
		margin: 10px 0 0 0;
		padding: 20px 10px 10px 20px;
	}
}