<section class="footer">
      <div class="container">
	  <div class="row">
        <div class="col-lg-3">
		
          <h5 class="title">About Us</h5>
         
          <p> To assist business organization by consultancy, Sukkur IBA started Training and Development Department in 2008, whose aim is to provide technical and managerial skills development training programme to corporate sector as well as public sector employees.  </p>
          <a href="http://facebook.com/sibaedc/" target="_blank" class="read-more">Read More »</a> </div>
         <div class="col-xs-12 col-sm-3 service">
          <h5 class="title">Quick Links</h5>
         <ul>
				<a href="facilities.html"><li>Facilities</li></a>
				<a href="Trainers.html"><li>Trainers</li></a>
				<li>Services</li>
				<a href="about-us.html"><li>About US</li></a>
				<a href="contactus.html"><li>Contact Us</li></a>
        </ul>
        </div>
        <div class="col-lg-3">
          <h5 class="title">Our Service Areas</h5>
          <ul>
             <li>Training and Development</li>
            <li>Customized Training</li>
            <li>Training Need Analysis</li>
            <li>Executive Coaching</li>  
            
            <li>CSS Preparatory Classes</li>
            <li>Rental Resources</li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h5 class="title">Get in Touch</h5>
          <p> <i class="fas fa-map-marker"></i> <span>Sukkur IBA Executive Development Center
            Sukkur IBA Campus II By Pass Road Sukkur </span></p>
          <p> <i class="fas fa-phone"></i> <span>(071) 45644118   </span></p>
          <p> <i class="fas fa-envelope"></i> <span><%= mail_to 'edc@iba-suk.edu.pk' %> </span></p>
          <ul class="social">
            <li><a href="http://facebook.com/sibaedc/" target="_blank" class="hvr-radial-out "><i class="fas fa-facebook"></i></a></li>
            <li><a href="http://twitter.com/sukkur_iba_edc/" target="_blank" class="hvr-radial-out "><i class="fas fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/110613141576926898851" target="_blank" class="hvr-radial-out "><i class="fas fa-google-plus"></i></a></li>
          </ul>
        </div>
		</div>
      </div>
      <div class="copyright">
        <div class="container">
		<div class="row">
          <div class="col-lg-12 ">
            <p> Copyright © Sukkur IBA Executive Development Center - EDC 2017. All rights reserved. </p>
          </div>
		  </div>
        </div>
      </div>
    </section>