<div id="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="<%= root_url %>">EDC</a>
		<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavId">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<!-- <li class="nav-item active">
				<a class="nav-link" href="<%= root_url %>">Home <span class="sr-only">(current)</span></a>
				</li> -->
				<% if user_signed_in? %>
				<li class="nav-item">
					<%= link_to 'Titles', course_titles_url, class: "nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to 'Courses', courses_url, class: "nav-link" %>
				</li>
				<!-- <li class="nav-item">
					<%= link_to 'Certificates', certificates_url, class: "nav-link" %>
				</li> -->
				<li class="nav-item">
					<%= link_to 'Equipment', equipment_index_url, class: "nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to 'Facility', facilities_url, class: "nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to 'Transport', transports_url, class: "nav-link" %>
				</li>
				<li class="nav-item">
					<!-- <a class="nav-link" href="#">Link1</a> -->
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user text-primary">&nbsp;</i>
						User
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownId">
						<%= link_to edit_user_registration_path, class: "dropdown-item" do %>
						<i class="fas fa-user-edit text-success">&nbsp;</i>Profile
						<% end %>
						<%= link_to destroy_user_session_path, method: "delete", data: {confirm: "Are you sure?"}, class: "dropdown-item"  do %>
						<i class="fa fa-trash text-danger" aria-hidden="true"></i>
						Signout
						<% end %>
					</div>
				</li>
				<% else %>
					<li class="nav-item">
						<%= link_to new_user_session_path, class: "nav-link" do %>
						<i class="fas fa-sign-in-alt text-primary">&nbsp;</i>
						Signin
						<% end %>
					</li>
				<% end %>

				<!-- <form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="disable ...">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form> -->
			</ul>
		</div>
	</nav>
</div>